NODE_ENV=development
PORT=3001
API_PUBLIC_URL=http://localhost:3001
WEB_PUBLIC_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3000,https://counterattack-offer.vercel.app
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/counterattack_offer?schema=public
SWAGGER_PATH=docs
